// Mixins
@use './variables' as *;

@mixin flex($align: true) {
  display: flex;
  justify-content: space-between;
  @if $align == true {
    align-items: center;
  }
}
@mixin button($type) {
  // Checks the type and assigning its colors
  $txt-clr: var(--txt-secondary);
  $bg-clr: white;
  $txt-clr: white;
  $shadow-clr: white;
  @if $type == basic or $type == operator {
    $bg-clr: var(--key-bg-3);
    $txt-clr: var(--txt-primary);
    $shadow-clr: var(--key-shadow-3);
  } @else if $type == special {
    $bg-clr: var(--key-bg-1);
    $shadow-clr: var(--key-shadow-1);
  } @else {
    $bg-clr: var(--key-bg-2);
    $shadow-clr: var(--key-shadow-2);
  }

  background: $bg-clr;
  h1 {
    color: $txt-clr;
  }
  box-shadow: 0 0.2rem 0 0 $shadow-clr;
  outline: none;
  border: 0;
  cursor: pointer;
  text-align: center;

  &:hover {
    box-shadow: 0 0 0 0, 0 0 1.15rem 0.25rem $shadow-clr inset;
  }
}
