@use '../abstracts/variables' as *;
// Mixins

@mixin list-reset {
  list-style: none;
  padding: 0;
}
@mixin btn-reset {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  cursor: pointer;
}
@mixin flex($dir: row, $just: space-between, $align: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $align;
}

// flex
@mixin flex($align: true) {
  display: flex;
  justify-content: space-between;
  @if $align == true {
    align-items: center;
  }
}

// Button
@mixin button($type) {
  // Checks the type and assigning its colors
  $txt-clr: var(--txt-secondary);
  $bg-clr: white;
  $txt-clr: white;
  $shadow-clr: white;
  @if $type == basic or $type == operator {
    $bg-clr: var(--key-bg-3);
    $txt-clr: var(--txt-primary);
    $shadow-clr: var(--key-shadow-3);
  } @else if $type == special {
    $bg-clr: var(--key-bg-1);
    $shadow-clr: var(--key-shadow-1);
  } @else {
    $bg-clr: var(--key-bg-2);
    $shadow-clr: var(--key-shadow-2);
  }

  background: $bg-clr;
  h1 {
    color: $txt-clr;
  }
  box-shadow: 0 0.2rem 0 0 $shadow-clr;
  outline: none;
  cursor: pointer;
  text-align: center;

  &:hover {
    box-shadow: 0 0.35rem 0 0 $shadow-clr, 0 0 1.15rem 0.175rem $shadow-clr inset;
  }
}

// _____Media Query Manager_____
// 320px  —  480px: Mobile devices
// 481px  —  768px: iPads, Tablets
// 769px  —  1024px: Small screens, laptops
// 1025px  —  1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV
@mixin media($breakpoint) {
  @if $breakpoint == mobile {
    @media (min-width: 320px) and (max-width: 480px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media (min-width: 481px) and (max-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == laptop {
    @media (min-width: 769px) and (max-width: 1024px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: 1025px) and (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == largeDesktop {
    @media (min-width: 1201px) {
      @content;
    }
  }
}
